@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap");

$ivory: #ede8e1;
$dark: #000000;
$white: #fff;
$brown: #4f473c;
$green: #495d47;
$large-screen-width: 1700px;
$tablet-screen-width: 1100px;
$phablet-screen-width: 768px;
$mobile-screen-width: 500px;
$mini-screen-width: 350px;

@mixin font($size: 1em, $color: $dark, $weight: 400, $line-height: 1) {
  @if $size != _ {
    font-size: $size;
  }
  @if $color != _ {
    color: $color;
  }

  font-weight: $weight;
  line-height: $line-height;
}
@mixin large {
  @media only screen and (min-width: #{$large-screen-width}) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: #{$tablet-screen-width}) {
    @content;
  }
}

@mixin phablet {
  @media only screen and (max-width: #{$phablet-screen-width}) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: #{$mobile-screen-width}) {
    @content;
  }
}
@mixin mini {
  @media only screen and (max-width: #{$mini-screen-width}) {
    @content;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Unbounded", cursive;
}

body {
  background-color: $ivory;
  font-size: 1.15vw;

  @include tablet {
    font-size: 16px;
  }
  @include large {
    font-size: 1.05vw;
  }
}

//styles
.section {
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1vw;
  @include tablet {
    padding: 0 16px;
  }
  @include large {
    max-width: 80%;
  }
}
.title {
  @include font(2em, $dark, 700, 1.2);
  @include tablet {
    font-size: 1.75em;
  }
}
.subtitle {
  display: flex;
  align-items: center;
  gap: 1vh;
  @include font(1.2em, $dark, 500, 1.2);
  @include tablet {
    font-size: 1.5em;
  }
}

.text {
  @include font(1.1em, $dark, 400, 1.4);
  & span {
    padding: 0 6px;
    font-weight: 700;
  }
}
.btn {
  display: inline-block;
  padding: 1.5vh 3vh;
  margin: 3vh auto;
  text-align: center;
  @include font(1.1em, $white, 400, 1.4);
  background-color: $green;
  border-radius: 1vh;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &-wrap {
    text-align: center;
  }

  &:hover,
  &:active {
    background-color: $brown;
  }
}
h1 {
  padding: 4vh 0 8vh;
  @include font(3em, $dark, 700, 1.4);
  text-align: center;
  @include tablet {
    font-size: 2.5em;
  }
}
.block {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2vh;
  padding: 4vh 2vh;
  border-bottom: 1px solid rgba($brown, 0.5);

  @include tablet {
    padding: 2vh 0;
    grid-template-columns: 1fr 1fr;
  }
  @include mobile {
    padding: 2vh 0;
    grid-template-columns: 1fr;
  }

  &:last-child {
    border-bottom: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 2vh;
    }
  }
  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 2vh;
    border: 3px solid $brown;

    @include large {
      height: 25vh;
    }
  }
  &__label {
    display: inline;
    padding: 1vh;
    background-color: rgba($green, 0.1);
    border: 1px solid rgba($green, 0.3);
    border-radius: 1vh;
    font-size: 0.8em;
    font-weight: 400;
  }

  &__input {
    position: relative;
    padding: 1vh;
    background-color: transparent;
    width: fit-content;
    border: 1px solid rgba($green, 0.5);
    border-radius: 1vh;
    transition: 0.3s ease-in-out;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
      width: 10%;
      // height: 70%;
      text-align: right;
      padding-left: 70%;
      background-color: transparent;
      z-index: 2;
      // padding-left: 70%;
    }
    &::placeholder {
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  width: 100%;
  max-width: 900px;
  margin: 5vh auto;
  padding: 4vh;
  border-radius: 3vh;
  border: 1px solid $brown;
  box-shadow: 0px 0px 10px 0px rgba($brown, 0.2);

  @include phablet {
    padding: 2vh;
  }
  @include large {
    max-width: 70%;
  }

  &__center {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
  }
}
.footer {
  width: 100%;
  height: 50vh;
  background: url(../images/grass.svg) repeat-x;
  background-position: bottom left;
  background-size: contain;
  @include tablet {
    height: 25vh;
  }
}
